<h1>Prohlížeč databáze</h1>

<nav>
    <ul>
        <li><a href="/a/www/room/list.php">Místnosti</a></li>
        <li><a href="/a/www/staff/list.php">Lidé</a></li>
        <li><a href="/a/www/login.php">Přihlásit se</a></li>
        <li><a href="/a/www/logoff.php">Odhlásit se</a></li>
    </ul>
</nav>