<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
<h2>Registration Form</h2>
<form method="post" action="registration.php">
    <label for="name">Jméno:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="surname">Příjmení:</label>
    <input type="text" id="surname" name="surname"><br><br>
    <label for="job">Prácovní pozice:</label>
    <input type="text" id="job" name="job"><br><br>
    <label for="room">Domovská místnost:</label>
    <input type="text" id="room" name="room"><br><br>
    <label for="login">Uživatelské jméno:</label>
    <input type="text" id="login" name="login"><br><br>
    <label for="password">Heslo:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="password">Znovu heslo:</label>
    <input type="password" id="passwordAgain" name="passwordAgain"><br><br>
    <input type="submit" name="register" value="Register">
    <a href="login.php" style="margin-left: 80px">Už máte účet?</a>
</form>
</body>
</html>